# Terraform files to ignore
*.tfstate
*.tfstate.backup
*.tfstate.*.backup
.terraform/
.terraform.lock.hcl

# Variable files with sensitive data
terraform.tfvars
*.auto.tfvars

# Crash logs
crash.log
crash.*.log

# Ignore override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore CLI configuration
.terraformrc
terraform.rc
